*::selection {
  background: #F0EDE5;
  color: #004643;
}

body {
  background: #004643;
  color: #F0EDE5;
  overflow-x: hidden;
}

#cursor {
  pointer-events: none;
}

.loading-logo {
  width: 30%;
}

.loading-logo path {
  fill: transparent;
  stroke: #F0EDE5;
  stroke-width: 1;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: textAnimation 2.2s ease-in-out 1 forwards;
}

.skill-bar {
  transform-origin: left;
  transform: scaleX(0);

}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 150;
  }

  80% {
    fill: transparent;
  }

  100% {
    fill: #F0EDE5;
    stroke-dashoffset: 0;
  }
}


@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }

  a,
  button,
  .hT {
    cursor: none;
  }
}
